.product-item-section1 {
    width: 279px;
    max-width: 279px;
    max-height: 500px;
    position: relative;
}

.product-name-1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden;
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    min-height: 40px;
}

.txt-black {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.txt-black:hover {
    color: #fc0808;
    text-decoration: none;
}

.price-1 {
    font-weight: bold;
    color: #fc0808;
    font-size: 16px;
    display: block;
}
.banner img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.banner:hover img {
    padding: 10px;
}

.banner {
    position: relative;
    display: block;
    overflow: hidden;
    flex: 1 1 100%;
}

.box-hover {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.box-hover img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.img-change {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.box-hover:hover .img-first {
    opacity: 0;
}

.box-hover:hover .img-change {
    animation: slideFromBottom 0.5s ease-in-out forwards;
}

@keyframes slideFromBottom {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.product-promo-tag {
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
    margin-top: 8px;
}

.compare-price {
    color: #8f8f8f;
    text-decoration: line-through;
    font-size: 14px;
    display: inline-block;
    margin-right: 3px;
}

.label_product {
    background: #ed3324;
    padding: 5px;
    z-index: 3;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1;
}

.label_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

button.product-item-btn {
    width: 40px !important;
    height: 40px !important;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    border-radius: 100%;
    color: #fff;
    justify-content: center;
    margin-left: auto;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 0;
    top: 0px;
}
.product-col {
    border: 1px solid #eee;
    padding: 10px;
    background-color: white;
    /* margin-bottom: 10px; */
    /* border-radius: 5px; */
}

@media screen and (max-width: 767px) {
    .product-item-section1 {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .block {
        display: block;
    }

    .col-lg-30 {
        display: none;
    }

    .col-lg-15 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .box-hover img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-15 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    button.product-item-btn {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 992px) {
    .col-lg-30 {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .box-hover img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    .col-lg-15 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    button.product-item-btn {
        width: 40px !important;
        height: 40px !important;
    }
}
@media (max-width: 576px) {
    .product-item-section1 {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .product-name-1 {
        font-size: 12px;
    }

    .price-1 {
        font-size: 14px;
    }

    .product-promo-tag {
        font-size: 10px;
    }

    .compare-price {
        font-size: 12px;
    }

    .label_product {
        font-size: 11px;
    }

    /* .product-item-btn {
        font-size: 14px;
    } */
    button.product-item-btn {
        width: 25px !important;
        height: 25px !important;
        display: inline-flex;
        align-items: center;
        padding: 4px;
        font-size: 18px;
        border-radius: 100%;
        color: #fff;
        justify-content: center;
        margin-left: auto;
        box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 0;
        top: 0px;
    }
}
